<div class="control-container">
    <div class="slider-container">
        <label class="slider-label">Box Width:
            <input type="range" min="0.2" max="2" step="0.2" [value]="boxWidth" (input)="onBoxWidthChange($event)">
            <span style="margin-left: 0.5em;">{{ boxWidth.toFixed(1) }}</span>
        </label>

        <label class="slider-label">Box Height:
            <input type="range" min="0.2" max="2" step="0.2" [value]="boxHeight" (input)="onBoxHeightChange($event)">
            <span style="margin-left: 0.5em;">{{ boxHeight.toFixed(1) }}</span>
        </label>

        <label class="slider-label">Box Depth:
            <input type="range" min="0.2" max="2" step="0.2" [value]="boxDepth" (input)="onBoxDepthChange($event)">
            <span style="margin-left: 0.5em;">{{ boxDepth.toFixed(1) }}</span>
        </label>
    </div>


    <div class="file-selector" *ngFor="let face of faces; let i = index">
        <label>{{ face }} Face:
            <input type="file" accept="image/*" (change)="onFileSelected($event, i)" />
        </label>
    </div>

    <label style="display: block; margin-top: 20px;">
        <input type="checkbox" [checked]="glossyFinish" (change)="onFinishStyleToggle($event)" />
        Glossy Finish
    </label>
    <button class="slider-label" (click)="onToggleRotation()">
        {{ isRotating ? 'Stop Rotation' : 'Start Rotation' }}
    </button>

    <label class="slider-label" > Pixel Ratio
    <input id="sharpness" type="range" min="1" max="2" step="0.1" [value]="sharpness"
        (input)="onSharpnessChange($event)">
    <span style="margin-left: 0.5em;">{{ sharpness }}</span>
    </label>
</div>