.control-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 250px;
  color: #fff;
}


.slider-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: #fff;

}

.slider-label {
  font-size: 0.9em;
  color: var(--text-color);
  margin-left: 1em;
  color: #fff;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.file-selector {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-left: 1em;
  color: #fff;
}

input[type="file"] {
  color: #fff;
  background-color: #333;
  border: 1px solid #555;
  padding: 0.5em;
  border-radius: 4px;
}
input[type="file"]::file-selector-button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}